@font-face {
  font-family: "Peyda";
  src: url(./PeydaWeb-Bold.woff) format("woff");
  src: url(./PeydaWeb-Bold.woff2) format("woff2");
  src: url(./PeydaWeb-Regular.woff) format("woff");
  src: url(./PeydaWeb-Regular.woff2) format("woff2");
  src: url(./PeydaWebFaNum-Bold.woff) format("woff");
  src: url(./PeydaWebFaNum-Bold.woff2) format("woff2");
  src: url(./PeydaWebFaNum-Regular.woff) format("woff");
  src: url(./PeydaWebFaNum-Regular.woff2) format("woff2");
  src: url(./PeydaWebNoEn-Bold.woff) format("woff");
  src: url(./PeydaWebNoEn-Bold.woff2) format("woff2");
  src: url(./PeydaWebNoEn-Regular.woff) format("woff");
  src: url(./PeydaWebNoEn-Regular.woff2) format("woff2");
}

body {
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.peydaFont {
  font-family: "Peyda";
}

.flex {
  display: flex;
}

.flexCenterDirColumn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputText {
  padding-bottom: 0.5rem;
}

.numberInput {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 5rem;
  border-radius: 1rem;
  border: 0rem;
  text-align: center;
}

.numberInput:focus {
  outline: 0rem;
}

.inputError {
  color: red;
  font-weight: bolder;
  margin-top: 1rem;
}

.blink {
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.confirmBtn {
  margin-top: 1rem;
  border: 0rem;
  border-radius: 1rem;
  width: 5rem;
  cursor: pointer;
}

.confirmBtn:hover {
  color: blue;
}

.confirmBtn:active {
  color: black;
  background-color: darkgray;
}

.doneText {
  margin-top: 1rem;
  direction: rtl;
}

.disabledBtn {
  color: lightgray;
  background-color: gray;
  cursor: default;
}

.hidden {
  display: none;
}
